@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Dinamo';
  src: url('/path/to/fonts/dinamo.woff2') format('woff2'),
       url('/path/to/fonts/dinamo.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


body{
  font-family: 'Dinamo', sans-serif;
}
.about-page {
    padding: 40px;
    max-width: 800px;
    margin: 0 auto; /* Center the page content */
    font-family: 'Arial', sans-serif;
  }
  
  h1 {
    font-size: 32px;
    margin-bottom: 20px;
    color: white;
  }
  
  p {
    font-size: 18px;
    line-height: 1.5;
    color: goldenrod;
  }
  
  .features, .team {
    margin-top: 40px;
    color: white ;
  }
  
  .features ul {
    list-style: none;
    padding: 0;
    color: goldenrod;
  }
  
  .features ul li {
    margin-bottom: 10px;
  }
  
  .team ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .team li {
    width: 300px; /* Adjust as needed */
    text-align: center;
    margin: 10px;
  }
  
  .team img {
    width: 150px; /* Adjust as needed */
    border-radius: 50%;
    margin-bottom: 10px;
  } 


  .formContainer {
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    text-align: left;
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 10px 10px 0 rgba(73, 185, 51, 0.267);
    border-radius: 20px;
    padding: 20px;
    transition: all 0.2s ease-in;
    background-color: rgba(18, 18, 18, 0.6);
    color: white;
    width: 90%;
    max-width: 500px;
    backdrop-filter: blur(10px);
}

.formElement {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 15px;
}

.formElement input, .formElement textarea {
    padding: 10px;
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.1);
    resize: none;
    background-color: rgba(18, 18, 18, 0.4);
    color: white;
    font-size: 16px;
}

.formButton {
    width: 100%;
    max-width: 200px;
    padding: 12px;
    margin: 10px auto 0;
    border-radius: 10px;
    font-weight: 600;
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 5px 5px 0 rgba(255, 255, 255, 0.05);
    transition: all 0.2s ease-in;
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    font-size: 16px;
}

.formButton:hover {
    cursor: pointer;
    box-shadow: 5px 5px 0 rgba(255, 255, 255, 0.1);
    transform: translateX(-5px) translateY(-5px);
    background-color: #3be377;
}

@media (max-width: 768px) {
    .formContainer {
        width: 95%;
        padding: 15px;
    }

    .formElement input, .formElement textarea {
        padding: 8px;
        font-size: 14px;
    }

    .formButton {
        padding: 10px;
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .formContainer {
        width: 100%;
        border-radius: 0;
        box-shadow: none;
    }

    .formElement input, .formElement textarea {
        padding: 6px;
        font-size: 12px;
    }

    .formButton {
        padding: 8px;
        font-size: 12px;
    }
}

.album-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #121212;
  padding: 20px;
  border-radius: 10px;
  color: white;
  box-shadow: 10px 10px 0 rgba(255, 255, 255, 0.05);
}

.album-cover {
  width: 100%;
  max-width: auto;
  height: auto;
  border-radius: 10px;
  background-color: #d87676;
}

.album-info {
  text-align: center;
}

.album-type {
  font-size: 14px;
  color: #666;
}

.album-title {
  font-size: 28px;
  font-weight: bold;
  margin: 5px 0;
  color: #3be377;
}

.album-details {
  font-size: 16px;
  color: #666;
}

.album-divider {
  border-top: 1px solid #3be377;
  margin: 20px 0;
}

@media (min-width: 768px) {
  .album-container {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }

  .album-cover {
    margin-right: 20px;
    margin-bottom: 0;
  }

  .album-info {
    text-align: left;
  }

  .album-title {
    font-size: 36px;
  }
}

@layer base {
  :root {
        --background: 0 0% 100%;
        --foreground: 240 10% 3.9%;
        --card: 0 0% 100%;
        --card-foreground: 240 10% 3.9%;
        --popover: 0 0% 100%;
        --popover-foreground: 240 10% 3.9%;
        --primary: 240 5.9% 10%;
        --primary-foreground: 0 0% 98%;
        --secondary: 240 4.8% 95.9%;
        --secondary-foreground: 240 5.9% 10%;
        --muted: 240 4.8% 95.9%;
        --muted-foreground: 240 3.8% 46.1%;
        --accent: 240 4.8% 95.9%;
        --accent-foreground: 240 5.9% 10%;
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;
        --border: 240 5.9% 90%;
        --input: 240 5.9% 90%;
        --ring: 240 10% 3.9%;
        --chart-1: 12 76% 61%;
        --chart-2: 173 58% 39%;
        --chart-3: 197 37% 24%;
        --chart-4: 43 74% 66%;
        --chart-5: 27 87% 67%;
        --radius: 0.5rem;
    }
  .dark {
        --background: 240 10% 3.9%;
        --foreground: 0 0% 98%;
        --card: 240 10% 3.9%;
        --card-foreground: 0 0% 98%;
        --popover: 240 10% 3.9%;
        --popover-foreground: 0 0% 98%;
        --primary: 0 0% 98%;
        --primary-foreground: 240 5.9% 10%;
        --secondary: 240 3.7% 15.9%;
        --secondary-foreground: 0 0% 98%;
        --muted: 240 3.7% 15.9%;
        --muted-foreground: 240 5% 64.9%;
        --accent: 240 3.7% 15.9%;
        --accent-foreground: 0 0% 98%;
        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 0 0% 98%;
        --border: 240 3.7% 15.9%;
        --input: 240 3.7% 15.9%;
        --ring: 240 4.9% 83.9%;
        --chart-1: 220 70% 50%;
        --chart-2: 160 60% 45%;
        --chart-3: 30 80% 55%;
        --chart-4: 280 65% 60%;
        --chart-5: 340 75% 55%;
    }
}

@layer base {
  * {
    @apply border-border;
    }
  body {
    @apply bg-background text-foreground;
    }
}



